@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

@foreach (var lanche in Model.Lanches)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@lanche.ImagemUrl" class="img-rounded" alt="" />
        </div>
        <div class="caption">
            <h3 class="pull-righ"> @lanche.Preco.ToString("c")</h3>
            <h3>
                @lanche.Nome
            </h3>
            <p>@lanche.DescricaoCurta</p>
        </div>
    </div>
}