@model Pedido
<br />
<div class="container">
    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>
        <div class="card">
            <div class="card-body">
                <p>Cliente: <strong>@Model.Nome</strong></p>
                <br />
                <p>Data do Pedido: <strong>@Model.PedidoEnviado</strong></p>
                <br />
                <p>Número do Pedido: <strong>@Model.PedidoId</strong></p>

                <br />
                @foreach (var item in Model.PedidoItens)
                {
                    <img src="@item.Lanche.ImagemUrl" width="40" height="40" />
                    <ul>@item.Quantidade</ul>
                    <ul>@item.Lanche.Nome</ul>
                    <ul>@item.Preco.ToString("C2")</ul>
                }
                <br />
                <p>Valor total do Pedido: <strong>@(((decimal)ViewBag.TotalPedido).ToString("C2"))</strong></p>
            </div>
        </div>
    
</div>